<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | DOW</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/w3.css">
</head>
<body>

    <div class="jumbotron">
        <!-- The Header -->
        <div class="container-fluid header">
            <div class="row">
                <div class="logo-container col-md-3 col-sm-12">
                    <a href="#">
                        <img src="../images/logo.png" alt="logo" class="logo img-fluid">
                        <!-- <pre style="text-align: center; font-weight: bold;"> DROP OF <br> WISDOM </pre> -->
                    </a>
                </div>
                <div class="menu col-md-9 col-sm-12">
                    <ul>
                        <li class="px-3">
                            <a href="#" class="active">Home</a>
                        </li>
                        <li class="px-5">
                            <a href="#">About</a>
                        </li>
                        <button class="px-1 btn btn-primary">
                            <a href="/logout">Logout</a>
                        </button>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Header -->

        <!-- The main body -->
        <div class="container-fluid main-body">
            <div class="welcome row">
                <div class="col-md-4 col-sm-12 welcome-top-ul">
                    <ul class="px-5">
                        <li style="position: relative; right: 5rem;">Daily Quotes</li>
                        <li style="position: relative; left: 5rem;">Life Quotes</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 welcome-img-div">
                    <h1>Drop Of Wisdom</h1>
                </div>
                <div class="col-md-4 col-sm-12 welcome-bottom-ul">
                    <ul class="px-5">
                        <li style="position: relative; left: 5rem;">Inspirational Quotes</li>
                        <li style="position: relative; right: 5rem;">Motivational Quotes</li>
                    </ul>
                </div>
            </div>
            <div class="row the-quotes w3-light-gray">
                <div class="col-md-8 col-sm-12">
                    <br><br>
                    <p class="w3-text-orange w3-center">FOR YOUR QUOTES, SCROLL DOWN</p>
                    <p class="arrow"><i class="arrow-down"></i></p>
                    <h3 class="w3-center">You Are Special</h3>
                    <p class="w3-center">
                        You're the only one who I wouldn't mind losing sleep for, the only one
                        who I can Never get tired of talking to and the only one who crosses my 
                        mind constantly throughout the day. You're the only one who can make me 
                        smile without trying, bring down my mood without the intention and affect 
                        my emotions with every action of yours. I can't explain with just words how 
                        much you mean to me but you're the one l'm afraid of losing and the one want 
                        to keep in my lite.
                    </p>
                    <br><br>
                    <h2 class="w3-center">Motivational Quotes</h2>
                    <div class="underline"></div>
                    <br><br>
                </div>
                <!-- Motivational Quotes -->
                <div class="col-md-8 col-sm-12">
                    <div class="w3-card-4">
                        <header class="w3-container w3-topbar w3-bottombar w3-border-red w3-pale-red">
                          <h3>Motivational Quote</h3>
                        </header>
                        <div class="w3-container w3-leftbar w3-rightbar w3-border-red">
                          <p>
                            I want to sleep with you. I
                            don't mean have sex. I mean sleep. Together Under my blankets. In my bed. 
                            With my hand on your chest and your arms around me. With the window cracked, 
                            so its chilly and we have to cuddle closer. No talking, just sleepy, blissfully 
                            happy, silence.
                          </p>
                        </div>
                        <footer class="w3-container w3-topbar w3-bottombar w3-border-red w3-pale-red">
                          <h3>By Bankah Junior</h3>
                        </footer>
                    </div>
                    <br><br>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="w3-card-4">
                        <header class="w3-container w3-topbar w3-leftbar w3-rightbar w3-border-red w3-pale-red">
                          <h3>Motivational Quote</h3>
                        </header>
                        <div class="w3-container w3-leftbar w3-rightbar w3-border-red">
                          <p>
                            I want to sleep with you. I
                            don't mean have sex. I mean sleep. Together Under my blankets. In my bed. 
                            With my hand on your chest and your arms around me. With the window cracked, 
                            so its chilly and we have to cuddle closer. No talking, just sleepy, blissfully 
                            happy, silence.
                          </p>
                        </div>
                        <footer class="w3-container w3-bottombar w3-leftbar w3-rightbar w3-border-red w3-pale-red">
                          <h3>By Bankah Junior</h3>
                        </footer>
                    </div>
                    <br><br>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="w3-card-4">
                        <header class="w3-container w3-leftbar w3-rightbar w3-border-red w3-pale-red">
                          <h3>Motivational Quote</h3>
                        </header>
                        <div class="w3-container w3-topbar w3-bottombar w3-border-red">
                          <p>
                            I want to sleep with you. I
                            don't mean have sex. I mean sleep. Together Under my blankets. In my bed. 
                            With my hand on your chest and your arms around me. With the window cracked, 
                            so its chilly and we have to cuddle closer. No talking, just sleepy, blissfully 
                            happy, silence.
                          </p>
                        </div>
                        <footer class="w3-container w3-leftbar w3-rightbar w3-border-red w3-pale-red">
                          <h3>By Bankah Junior</h3>
                        </footer>
                    </div>
                    <br><br>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="w3-card-4">
                        <header class="w3-container w3-topbar w3-leftbar w3-rightbar w3-border-red w3-pale-red">
                          <h3>Motivational Quote</h3>
                        </header>
                        <div class="w3-container">
                          <p>
                            I want to sleep with you. I
                            don't mean have sex. I mean sleep. Together Under my blankets. In my bed. 
                            With my hand on your chest and your arms around me. With the window cracked, 
                            so its chilly and we have to cuddle closer. No talking, just sleepy, blissfully 
                            happy, silence.
                          </p>
                        </div>
                        <footer class="w3-container w3-bottombar w3-leftbar w3-rightbar w3-border-red w3-pale-red">
                          <h3>By Bankah Junior</h3>
                        </footer>
                    </div>
                    <br><br>
                </div>
                <!-- Daily Quotes -->
                <h2 class="w3-center pb-3">Daily Quotes</h2>
                <div class="col-md-8 col-sm-12 pb-5">
                    <div class="col-md-12 col-sm-12">
                        <div class="w3-third px-2 pb-3">
                        <div class="w3-card">
                            <img src="../images/quotes/1.jpg" style="width:100%">
                            <div class="w3-container">
                                <h5>
                                    Loss for words? Give that person a hug. It’s worth 
                                    a thousand and more. Plus, it’s free.
                                </h5>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="w3-third px-2 pb-3">
                        <div class="w3-card">
                            <img src="../images/quotes/1.jpg" style="width:100%">
                            <div class="w3-container">
                                <h5>
                                    I'm still in love with both, you and the moment your eyes met 
                                    mine for the first time. Yeah, it's true.
                                </h5>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="w3-third px-2 pb-3">
                        <div class="w3-card">
                            <img src="../images/quotes/1.jpg" style="width:100%">
                            <div class="w3-container">
                                <h5>
                                    Self-Care Tip: Surround yourself with people who are good for your mental 
                                    health. The mind is very powerful.
                                </h5>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 pb-5">
                    <div class="col-md-12 col-sm-12">
                        <div class="w3-third px-2 pb-3">
                        <div class="w3-card">
                            <img src="../images/quotes/1.jpg" style="width:100%">
                            <div class="w3-container">
                                <h5>
                                    To everyone going through any struggle or pain right now, 
                                    keep your head up, and keep on smiling, you'll get through 
                                    it.
                                </h5>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="w3-third px-2 pb-3">
                        <div class="w3-card">
                            <img src="../images/quotes/1.jpg" style="width:100%">
                            <div class="w3-container">
                                <h5>
                                    Don't get jealous when you see your ex with someone else, our parents 
                                    always told us to give our toys away to the less fortunate. 
                                </h5>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="w3-third px-2 pb-3">
                        <div class="w3-card">
                            <img src="../images/quotes/1.jpg" style="width:100%">
                            <div class="w3-container">
                                <h5>
                                    i will give you an A because you awesome... B  because you are beautiful...
                                    and i will givee you C because you are confident.
                                </h5>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-panel">

            </div>
        </div>
        <!-- End of main body -->

        <!-- The Footer -->
        <div class="container-fluid w3-panel footer">
            <div class="row">
                <hr>
                <p>Copyright &copy;2022 Bankah Anthony Bekoe</p>
                <p>This site is protected by Google <a href="#">Private Policy</a> and <a href="#">Terms of Service </a>apply</p>
            </div>
        </div>
        <!-- End of footer -->
    </div>
    

    <script src="/bootstrap.js"></script>
    <script src="/index.js"></script>
</body>
</html>