<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/welcome.css">
</head>
<body>

    <div class="loader">
        <div class="ring"></div>
    </div>
    <div class="content">
        <div class="image"></div>
        <div class="text">
            <div class="title">
                <h1>Welcome to Drop of Wisdom</h1>
            </div>
            <h4>
                <i>"Instruct the wise and they will be wiser still; 
                teach the righteous and they will add to their learning."</i>
            </h4>
            <p>
                <a href="/login">Login</a> for you drop.
            </p>
        </div>
    </div>
    

    <script src="/welcome.js"></script>
</body>
</html>